$white-color: #ffffff;
$primary-color: #002caa;
$secondary-color: #ff7f50;
$section-bg-color: #f9f9f9;
$dark-color: #000000;
$p-color: #717275;
$border-color: #e9eaeb;
$featured-border-color: #727aab;
